<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
    <style type="text/css">
        .main {
            display:flex;
            border: 1px solid black;
        }
        .input-window input {
            display:block;
        }
    </style>
    <link href="styles/main.css" type="text/css">
</head>
<body>
<div class="main">
    <div class="input-window">
        <form>
            Login: <input type="text" title="Login">
            Pass: <input type="text" title="Pass">
            <button type="submit"> Submit </button>
        </form>
    </div>
</div>
</body>
</html>